.dashboard-container {
  @apply flex h-screen overflow-hidden;

  .sidebar {
    @apply w-[300px] fixed top-0 left-0 h-screen bg-gray-100 shadow-xl overflow-y-auto z-10;
  }

  .dashboardView {
    @apply ml-[300px] h-screen overflow-y-scroll flex-1 py-5 px-6 bg-white;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* for hide scrollbar  */
  .dashboardView::-webkit-scrollbar {
    display: none;
  }
}
